<%- include ('partials/_header') %>
<div class="container">
    <div>
        <div>
            <div class="m-3">
                <h2>Dates</h2>
            </div>            
            <div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="table-secondary">
                            <th class="text-center">Date</th>
                            <th class="text-center">Commissions-total</th>
                            <th class="text-center">Sales-net</th>
                            <th class="text-center">Leads-net</th>
                            <th class="text-center">Clicks</th>
                            <th class="text-center">EPC</th>
                            <th class="text-center">Impressions</th>
                            <th class="text-center">CR</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <% if (dates) { %>
                        <% for(var i = 0; i < dates.length; i++) { %>
                        <tr>
                            <td class="text-center"><%= dates[i].date %></td>
                            <td class="text-center"><%= dates[i].commissions_total %></td>
                            <td class="text-center"><%= dates[i].sales_net %></td>
                            <td class="text-center"><%= dates[i].leads_net %></td>
                            <td class="text-center"><%= dates[i].clicks %></td>
                            <td class="text-center"><%= dates[i].epc %></td>
                            <td class="text-center"><%= dates[i].impressions %></td>
                            <td class="text-center"><%= dates[i].cr %></td>
                        </tr>
                        <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div>
                <% if (!dates[0]) { %>               
                <button class="btn btn-info" id="btn_datesdb" type="button">Populate dates DB</button>
                <button class="btn btn-info" id="btn_fill_dates" type="button">Fill the board</button>
                <% } %>
            </div>
        </div>
    </div>
</div>
<%- include ('partials/_footer') %>